<div class="container">
    <div class="pagetitle">
        <!-- <h1 class="h5">{{'login.CHANGEPASSWORD' | translate }}</h1> -->
     </div>

     <div class="row">
        <div class="col-lg-12">
		 <div class="alert alert-success msg" tabindex="-1" role="alert" style="display:none"><img src="Resources/Images/Icons/OK1.gif" width="30" height="30" />
      {{'login.Error1' | translate }}
</div>
<div class="alert alert-danger msg" id="alert-danger" tabindex="-1" role="alert" style="display:none">
  {{'login.Error2' | translate }}
</div>
<div class="alert alert-danger wrong msg" id="wrong" tabindex="-1" role="alert" style="display:none">
  {{'login.Error3' | translate }}
</div>
<div class="alert alert-danger Enter msg" id="Enter" tabindex="-1" role="alert" style="display:none">
  {{'login.Error4' | translate }}
</div>
            <div class="card1">
             
              <div class="card-body">
             
                <div id="cover-spin" class="loader" style="display: none;" ></div>
                <div id="message">
                  <p style="font-size: medium;">{{'login.msg1' | translate }}</p>
                  <ul>
                 
                    <li>{{'login.msg2' | translate }}</li>
                      <li>{{'login.msg10' | translate }}</li>
                        <li>{{'login.msg3' | translate }}</li>
                          <li>{{'login.msg4' | translate }}</li>
                  </ul>
                </div>

                <div class="row">
                   
                    <div class="col-sm-12">
                      <label for="edit-first-name" class="js-form-required form-required form-item__label">{{'login.msg5' | translate }}</label>
                      <input name="password" type="password" class="form-control form-item"type="password" id="password" size="40" maxlength="100" placeholder="{{'login.msg6' | translate }}" style="border-radius: 0rem !important;padding: 5px 5px 5px 5px;" required/></div>
                </div>

                <div class="row">

                    
                    <div class="col-sm-12">
                      <label for="edit-first-name" class="js-form-required form-required form-item__label">{{'login.msg7' | translate }}</label>
                      <input name="confirmPassword" type="password" class="form-control form-item" type="password" id="confirmPassword" size="40" maxlength="100" placeholder="{{'login.msg8' | translate }}" style="border-radius: 0rem !important;padding: 5px 5px 5px 5px;" required/></div>
                </div>

                <div class="row" >
                  <div class="col-sm-12 " style="margin-left:auto ;">
                    <a id="save" class="btn btn--s btn--primary menu__link logoutBtn " data-drupal-link-system-path="node/1" (click)="createuser()" >{{'login.msg9' | translate }}</a>
                    <!-- <button type="button" class="btn btn--s btn--primary" (click)="createuser()">{{'login.msg9' | translate }}</button></div> -->
                </div>

              </div>
     
            </div>
        </div> 
    </div>    

 </div>  