.btn {
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    font-size: 1rem;
    line-height: 24px;
    /* padding: .6rem 1.875rem; */
    color: #ffffff;
    background-color: #005eb8;
    border-color: #005eb8;
    position: relative;
    z-index: 1
}
.msg{
margin: auto;
max-width: 40.5rem;
display: block;
}
.container {
    height: 100%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}
@media only screen and (max-width: 600px) {.container {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  max-width: 100rem;
margin-right: auto;
margin-left: auto;
position: relative;

}}
.form-item {
 
  margin-bottom: 2rem;

}
.loader {
  margin: auto;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.logoutBtn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #005eb8;
  transition: inherit;
}
.logoutBtn:active, .logoutBtn:focus {
  border-color: #00448a;
}
.logoutBtn:hover {
  color: #fff;
}
.logoutBtn:active::before, .logoutBtn:focus::before {
  background: #00448a;
}
.logoutBtn:active::before, .logoutBtn:focus::before, .logoutBtn:hover::before {
  border: 2px solid #fff;
  border-radius: 4px;
}
.logoutBtn:active::before, .logoutBtn:focus::before {
  background: #00448a;
}
/* .btn:active::before, .btn:focus::before, .btn:hover::before {
  border: 2px solid #fff;
  border-radius: 4px;
} */

.logoutBtn {
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  padding: 0.45rem 1.375rem 0.35rem;
}

@media (max-width: 480px) {
  .container {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  
  }
}