<div class="container">
    <div class="pagetitle">
        <!-- <h1 class="h5">{{'login.CHANGEPASSWORD' | translate }}</h1> -->
     </div>

     <div class="row">
        <div class="col-lg-12">
		 <div class="alert alert-success msg" tabindex="-1" role="alert" style="display:none">
      <img src="Resources/Images/Icons/OK1.gif" width="30" height="30" />
      {{'login.Error1' | translate }}
    </div>
<div class="alert alert-danger msg" id="alert-danger" tabindex="-1" role="alert" style="display:none">
  {{'login.Error2' | translate }}
</div>
<div class="alert alert-danger wrong msg" id="wrong" tabindex="-1" role="alert" style="display:none">
  {{'login.Error3' | translate }}
</div>
<div class="alert alert-danger Enter msg" id="Enter" tabindex="-1" role="alert" style="display:none">
  {{'login.Error4' | translate }}
</div>
            <div class="card1">
             
              <div class="card-body">
             
                <div id="cover-spin" class="loader" style="display: none;" ></div>
           

                <div class="row">
                   
                    <div class="col-sm-12">
                      <div class="alert alert-danger" role="alert" id="blankOTPAlert" style="display: none;">
                        OTP field should not be blank
                      </div>
                      
                      <div class="alert alert-success" role="alert" id="otpSuccessAlert" style="display: none;">
                        OTP Verified 🎉 Activation Link sent to your email. 
                      </div>
                      
                      <div class="alert alert-danger" role="alert" id="otpDangerAlert" style="display: none;">
                        Invalid OTP. Please try again.
                      </div>
                      
                      <label id="first-name" for="edit-first-name" class="js-form-required form-required form-item__label">Enter OTP</label>
                      <input name="password"  class="form-control form-item" id="password" size="40" maxlength="100" placeholder="000 000" style="border-radius: 0.3rem !important;padding: 8px;" required/></div>
                      <a id="save" class="btn btn--primary btn--s menu__link logoutBtn " data-drupal-link-system-path="node/1" (click)="verifyemail()" >verify OTP</a>
                </div>

                

              

                <div class="row" >
                  <div class="col-sm-12 " style="margin-left:auto ;">
                    <!-- <button type="button" class="btn btn--s btn--primary" (click)="createuser()">{{'login.msg9' | translate }}</button></div> -->
                </div>

              </div>
     
            </div>
        </div> 
    </div>    

 </div>  