<div class="container">
    <div class="pagetitle">
        <!-- <h1 class="h5">{{'login.CHANGEPASSWORD' | translate }}</h1> -->
     </div>

     <div class="row">
        <div class="col-lg-12">
		 <div class="alert alert-success msg" tabindex="-1" role="alert" style="display:none"><img src="Resources/Images/Icons/OK1.gif" width="30" height="30" />
      {{'login.Error1' | translate }}
</div>
<div class="alert alert-danger msg" id="alert-danger" tabindex="-1" role="alert" style="display:none">
  {{'login.Error2' | translate }}
</div>
<div class="alert alert-danger wrong msg" id="wrong" tabindex="-1" role="alert" style="display:none">
  {{'login.Error3' | translate }}
</div>
<div class="alert alert-danger Enter msg" id="Enter" tabindex="-1" role="alert" style="display:none">
  {{'login.Error4' | translate }}
</div>
            <div class="card1">
             
              <div class="card-body">
                <div id="cover-spin" class="loader" style="display: none;" ></div>
           

                <div class="row">
                   
                    <div class="col-sm-12">
                      <div class="alert alert-primary" role="alert" id="userStatusAlert" style="display: none;">
                        This USER is ACTIVE
                      </div>
                      <div class="alert alert-danger" role="alert" id="blankEmailAlert" style="display: none;">
                        Please enter a valid email address
                      </div>
                      <div class="alert alert-success" role="alert" id="userStatusSuccess" style="display: none;">
                        Email  verified!
                      </div>
                      <label id="email-id" for="edit-first-name" class="js-form-required form-required form-item__label">Enter Email Address</label>
                      <!-- <input name="password"  class="form-control form-item" id="password" size="40" maxlength="100" placeholder="{{'login.msg6' | translate }}" style="border-radius: 0.3rem !important;padding: 5px 5px 5px 5px;" required/></div> -->
                      <input name="password"  class="form-control form-item" id="password" size="40" maxlength="100" placeholder="eg: johndoe@saint-gobain.com" style="border-radius: 0.3rem !important;padding: 8px;" required/></div>
                      <!-- <a id="save" class="btn btn--primary btn--s  menu__link logoutBtn " data-drupal-link-system-path="node/1" (click)="verifyemail()" >{{'login.msg9' | translate }}</a> -->
                      <a id="save" class="btn btn--primary btn--s  menu__link logoutBtn " data-drupal-link-system-path="node/1" (click)="verifyemail()">Submit</a>
                    </div>

              

                <!-- <div class="row" >
                  <div class="col-sm-12 " style="margin-left:auto ;">
                    <button type="button" class="btn btn--s btn--primary" (click)="createuser()">{{'login.msg9' | translate }}</button></div>
                </div> -->

              </div>
     
            </div>
        </div> 
    </div>    

 </div>  