#email-id {
    color: black;
    margin-bottom: .5em;
}

#save {
    display: inline;
    width: 25%;
    padding: 0.85em;
    margin-top: 1.5em;
    margin-left: 0.85em;
    font-size: 14px;
    text-transform: capitalize;
    border: 1px solid #004b75;
    border-radius: 3px;
    background-color: #005eb8;
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0,0,0,.15), inset 0 1px 0 0 hsla(0,0%,100%,.1);
}