<div class="container">
    <div class="pagetitle">
        <h1>Dashboard</h1>
     </div>
   
    
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4" >
    <img id="loader" src="assets/loader.gif" alt="Loading" style="
    width: 10%;
    margin-left: 43%;
  "> 
  <div *ngFor="let app of posts">
    <div class="col mb-6" *ngIf="app.signOnMode =='SAML_2_0'">
      <div class="card border-primary text-primary" >
        
        <div class="card-body text-center">
            <p><img class=" img-fluid1" src="{{app._links.logo[0].href}}" alt="card image"></p>
          <h5 class="card-title">{{app.label}}</h5>
          <a href="{{app._links.appLinks[0]?.href}}" target="_blank" title="{{'login.title' | translate }}"> {{'login.title' | translate }} </a>
        </div>
      </div>
    </div>
    <div class="col mb-6" *ngIf="app.signOnMode !='SAML_2_0'">
        <div class="card border-primary text-primary" >
          
          <div class="card-body text-center">
              <p><img class=" img-fluid1" src="{{app._links.logo[0].href}}" alt="card image"></p>
            <h5 class="card-title">{{app.label}}</h5>
            <a href="{{app.settings?.oauthClient?.initiate_login_uri+'?okta=true'}}" target="_blank" title="{{'login.title' | translate }}"> {{'login.title' | translate }} </a>
          </div>
        </div>
      </div>
</div>
  
  </div>
    
    
      
    
  </div>
  <!-- /.container -->