<section>
    <div class="container">
        <div class="pagetitle">
            <!-- <h1 class="h5">{{'login.Profile' | translate }}</h1> -->
         </div>
         <div class="alert alert-success" role="alert" id="success" style="display: none;">
            {{'login.ProfileS' | translate }}
          </div>
          <div class="alert alert-danger" role="alert" id="Error" style="display: none;">
            {{'login.ProfileF' | translate }}
          </div>
      <div class="row">
        <img id="loader" src="assets/loader.gif" alt="Loading" style="
        width: 10%;
        margin-left: 43%;
      "> 
        <div class="col-lg-12">
          <div class="card1 mb-4">
            <!-- <div class="card-header bg__blue">
                {{'login.PersonalInformation' | translate }}
              </div> -->
            <div class="card-body">
              
              <div class="row">
               
                <div class="col-sm-12">
                  <label for="edit-first-name" class="js-form-required form-required form-item__label">{{'login.Login' | translate }}</label>
                  <input class="form-control form-item" id="inputlogin" type="text" placeholder="Enter your login" [(ngModel)]="login" disabled="disabled" style="border-radius: 0rem !important">
                </div>
              </div>
            
              <div class="row">
        
                <div class="col-sm-12">
                  <label for="edit-first-name" class="js-form-required form-required form-item__label">{{'login.Email' | translate }}</label>
                    <input class="form-control form-item" id="inputEmail" type="text" placeholder="Enter your email" [(ngModel)]="Email" style="border-radius: 0rem !important">
                </div>
              </div>
            
              <div class="row">
            
                <div class="col-sm-12">
                  <label for="edit-first-name" class="js-form-required form-required form-item__label">{{'login.FirstName' | translate }}</label>
                    <input class="form-control form-item" id="inputFirstname" type="text" placeholder="Enter your Firstname" [(ngModel)]="Firstname" style="border-radius: 0rem !important">
                </div>
              </div>
             
              <div class="row">
           
                <div class="col-sm-12">
                  <label for="edit-first-name" class="js-form-required form-required form-item__label">{{'login.LastName' | translate }}</label>
                    <input class="form-control form-item" id="inputlastname" type="text" placeholder="Enter your Lastname" [(ngModel)]="lastname" style="border-radius: 0rem !important">
                </div>
              </div>
             
              <div class="row">
           
                <div class="col-sm-12">
                  <label for="edit-first-name" class="js-form-required form-required form-item__label">{{'login.Mobile' | translate }}</label>
                    <input class="form-control form-item" id="inputMobile" type="text" placeholder="Enter your mobile" [(ngModel)]="mobile" disabled="disabled" style="border-radius: 0rem !important">
                </div>
              </div>

              <div class="row">
        
                <div class="col-sm-12">
                  <label for="edit-first-name" class="js-form-required form-required form-item__label">{{'login.Organization' | translate }}</label>
                    <input class="form-control form-item" id="inputOrganization" type="text" placeholder="Enter your Organization" [(ngModel)]="Organization" style="border-radius: 0rem !important">
                </div>
              </div>

             
       <a id="save" class="btn btn--s btn--primary menu__link logoutBtn" data-drupal-link-system-path="node/1" (click)="save()" >{{'login.Save' | translate }}</a>
              
            </div>
          </div>
       
        </div>
        <div class="col-lg-12">
            <div class="card1 mb-4">
              <!-- <div class="card-header bg__blue">
                {{'login.SecurityMethods' | translate }}
                </div> -->
              <div class="card-body">
                
                <div class="row">
                  <div class="form-item col-sm-12">
                    <p class="mb-0">{{'login.SecurityDesc' | translate }}</p>
                  </div>
                 
                </div>
           
                <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">{{'login.Password' | translate }}</p>
                    </div>
                    <div class="col-sm-9">
                    
                        <a id="ChangePassword" class="btn btn--s btn--primary menu__link logoutBtn" data-drupal-link-system-path="node/1" (click)="ChangePassword()" >{{'login.RESET' | translate }}</a>
            
                    </div>
                  </div>
            
              </div>
            </div>
         
          </div>
      </div>
    </div>
  </section>