@media (max-width: 576px) {  
    .xs {color:red;font-weight:bold;}
    .utility-nav__list.utility-nav__list--.flex {
      gap: 1.25rem;
        padding: 0.2rem 0 !important;
        align-items: center;
        justify-content: end;
        position: relative;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width:768px) {  
    .sm {color:red;font-weight:bold;}
    
  }
  .text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
}
.text-center {
    text-align: center!important;
}
.img-fluid1 {
    max-width: 93%;
    height: 32px;
}
.border-primary {
  height: 220px !important;
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-primary-rgb),var(--bs-border-opacity))!important;
}
  /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) and (max-width:992px) {  
   .md {color:red;font-weight:bold;}
   
  }
  @media all and (min-width:321px) and (max-width: 480px) {
 
    }
   
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width:1200px) { 
   .lg {color:red;font-weight:bold;}
  }
   
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
      .xl {color:red;font-weight:bold;}
  }
  .container {
    height: 100%;
    max-width: 100rem;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}
@media only screen and (max-width: 600px) {.container {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  max-width: 100rem;
margin-right: auto;
margin-left: auto;
position: relative;

}}
@media (max-width: 480px) {
  .container {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      max-width: 100rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  
  }
}
  .btn {
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: gotham,"Helvetica","Arial",sans-serif;
    font-size: 0.8rem;
    line-height: 17px;
    /* padding: 0.875rem 1.875rem; */
    color: #ffffff;
    background-color: #005eb8;
    border-color: #005eb8;
    position: relative;
    z-index: 1;
}
.logoutBtn--s {
  padding: 0.4375rem 1.375rem 0.3125rem;
}

/* .btn:hover::before {
  border: 2px solid #fff;
  border-radius: 4px;
} */

/* .btn:hover {
  color: #fff;
} */
.utility-nav__list .btn {
  display: block;
}
.logoutBtn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #005eb8;
  transition: inherit;
}
.logoutBtn:active, .logoutBtn:focus {
  border-color: #00448a;
}
.logoutBtn:hover {
  color: #fff;
}
.logoutBtn:active::before, .logoutBtn:focus::before {
  background: #00448a;
}
.logoutBtn:active::before, .logoutBtn:focus::before, .logoutBtn:hover::before {
  border: 2px solid #fff;
  border-radius: 4px;
}
.logoutBtn:active::before, .logoutBtn:focus::before {
  background: #00448a;
}
/* .btn:active::before, .btn:focus::before, .btn:hover::before {
  border: 2px solid #fff;
  border-radius: 4px;
} */

.logoutBtn {
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  padding: 0.45rem 1.375rem 0.35rem;
}
