@import '~@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';
/*@import "~bootstrap/dist/css/bootstrap.css";

#okta-login-container {
  margin: 0 auto;
  max-width: 400px;
  border: 1px solid silver;
  padding: 20px;
  box-shadow: 5px 5px 5px 0 silver;
}

#okta-login-container input {
  margin-bottom: 5px;
  width: 100%;
  padding: 5px;
}

#okta-login-container input[type=checkbox] {
  width: 25px;
}*/
#okta-sign-in.auth-container .button-primary {
 
  background: #005eb8;
 
}
@media only screen and (max-width: 600px){
#okta-sign-in.auth-container .auth-content {
    max-width: 100%;
    margin: 0 auto;
}
}
#okta-sign-in {
 
  margin: 0px auto 0px !important;
  width: 400px;

}
@media only screen and (max-device-width: 480px){
#okta-sign-in .auth-content {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
}
.js-help-link
{
display: none;
}